<h3 class="text-center mb-0 mt-5">Your recent links</h2>
<p class="text-center mb-4">* These are saved in cookies. Be careful cleaning it</p>
<table class="table small mb-0">
    <thead>
        <tr>
            <th class="d-none d-md-table-cell"></th>
            <th class="d-none d-sm-table-cell" scope="col">Full</th>
            <th scope="col">Short</th>
            <th class="d-none d-md-table-cell"></th>
        </tr>
    </thead>
    <tbody>
        <%= render partial: 'link', collection: Link.where(token: @token) %>
    </tbody>
</table>
