<div class="w-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>All links displays here</h1>
                <p class="text-danger">This page is temporary and will be removed</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <% @links.each do |l| %>
                    <div class="rounded shadow p-3">
                        <p class="m-0 mb-2"><b>ID:</b> <%= l.id %></p>
                        <p class="m-0 mb-2"><b>Origin:</b> <%= l.origin %></p>
                        <p class="m-0 mb-2"><b>Short link:</b> <%= link_to "#{root_url}#{l.shorthand}", "#{root_url}#{l.shorthand}" %></p>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
