<div class="w-100 new-link">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h1 class="font-weight-normal mt-4 text-center">URL-shortener</h1>
                <%= render 'form' %>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <%= render 'table' if Link.where(token: @token).any? %>
            </div>
        </div>
    </div>
</div>
