// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
    font-size: 16px;
    font-family: "Montserrat", sans-serif !important;
}

.icon {
    cursor: pointer;

    img {
        height: 24px;
    }
}
