// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
    font-size: 16px;
    font-family: "Montserrat", sans-serif !important;
}

.icon {
    cursor: pointer;

    img {
        height: 24px;
    }
}

.btn.btn-outline-dark {
    border-radius: 50px;
    border-width: 2px;
}

input.form-control,
span.input-group-text {
    background-color: #fff;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #343a40;

    &:focus {
        border-color: #495057;
        box-shadow: 0 .15rem #495057;
    }

    &.is-invalid:focus {
        box-shadow: 0 .15rem #dc3545;
    }
}
